@import "defaults";

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;

  &__logo {
    height: 70px;
  }
  &__basket {
    height: 45px;
    margin: 12px;
    z-index: 6;
  }
}
